body{
    margin: 0;
    padding: 0;
}

.background-container {
    background-image: url('background-img.jpg');  /* Replace with the path to your image */
    background-size: 100% ;
    background-attachment: fixed;  /* Keeps the background fixed as you scroll */
    min-height: 100vh;  /* 100% of the viewport height */
    min-width: 100vw;   /* 100% of the viewport width */
}

#whole{
}

#header-img{
    width: 100vw;
}

.image-text-user {
    position: absolute;
    top: 10%; /* Adjust as needed */
    left: 10%; /* Adjust as needed */
    transform: translate(-50%, -50%); /* Center the text */
    background-color: rgba(255, 255, 255, 0.5); /* Background color with transparency */
    padding: 10px;
    border-radius: 15px;
}

.image-text-logout {
    position: absolute;
    top: 10%; /* Adjust as needed */
    left: 90%; /* Adjust as needed */
    transform: translate(-50%, -50%); /* Center the text */
    background-color: rgba(255, 255, 255, 0.5); /* Background color with transparency */
    padding: 10px;
    border-radius: 15px;
}