body{
    margin: 0;
    padding: 0;
}

.background-container {
    background-image: url('background-img.jpg');  /* Replace with the path to your image */
    background-size: 100% ;
    background-attachment: fixed;  /* Keeps the background fixed as you scroll */
    min-height: 100vh;  /* 100% of the viewport height */
    min-width: 100vw;   /* 100% of the viewport width */
}

#whole{

}

#header-img{
    width: 100vw;
}