{% extends 'common.html' %}

{% block title %}LOGIN{% endblock %}

{% block body %}

<div class=" mx-5 px-5 my-5 py-5" >


    <form class=" align-items-center" action='' method="POST">
        {% csrf_token %}

        <div class="form-group">
    <!--        <label for="exampleInputUser Name">User Name</label>-->
            <input type="text" class="form-control" id="exampleInputUser Name" name="username" placeholder="User Name">
        </div><br>

        <div class="form-group">
    <!--        <label for="exampleInputPassword1">Password</label>-->
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
        </div><br>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary ">Submit</button>
        </div>

        <div class="my-3 d-flex justify-content-center">
            <h6> Are you a newbie, Please create your account <a href="{% url 'todo_secure:register' %}" class="btn btn-danger" role="button">here</a> to explore the experience of task-scheduling</h6>
        </div>

    </form>
</div>

{% endblock %}